*.ini
-include/
!Include/XA
*.isc
!CDQX Gander FIR.isc
!CZQM Moncton FIR.isc
!CZQX Gander-Shanwick Oceanic FIR.isc
!CZUL Montreal FIR.isc
!CZVR Vancouver FIR.isc
!CZWG Winnipeg FIR.isc
!CZYZ Toronto FIR.isc
!KZAB Albuquerque ARTCC.isc
!KZAK Oakland Oceanic FIR.isc
!KZAU Chicago ARTCC.isc
!KZBW Boston ARTCC.isc
!KZDC Washington ARTCC.isc
!KZDV Denver ARTCC.isc
!KZFW Fort Worth ARTCC.isc
!KZHU Houston ARTCC.isc
!KZID Indianapolis ARTCC.isc
!KZJX Jacksonville ARTCC.isc
!KZKC Kansas City ARTCC.isc
!KZLA Los Angeles ARTCC.isc
!KZLC Salt Lake City ARTCC.isc
!KZMA Miami ARTCC.isc
!KZME Memphis ARTCC.isc
!KZMP Minneapolis ARTCC.isc
!KZNY New York ARTCC.isc
!KZOA Oakland ARTCC.isc
!KZOB Cleveland ARTCC.isc
!KZSE Seattle ARTCC.isc
!KZTL Atlanta ARTCC.isc
!KZWY New York Oceanic FIR.isc
!MYNA Nassau FIR.isc
!PAZA Anchorage ARTCC.isc
!PGZU Guam CERAP.isc
!PHZH Honolulu ARTCC.isc
!TJZS San Juan ARTCC.isc